<html>
  <body style="margin: 0;">
    <!-- <app-navbar></app-navbar>
    <app-body></app-body>
    <app-footer></app-footer> -->
    <div>
      <app-product1 title="Samsung S3" description="Snapdragon" [img]="img2"></app-product1>
      <app-product1 title="Iphone 15" description="Abionic 15 Chip" [img]="img1"></app-product1>
      <app-product1 title="Samsung S4 Ulta" description="Snapdragon 8 gen 3" [img]="img3"></app-product1>
      <app-product1 title="Macbook Pro" description="M1 Chip" [img]="img4"></app-product1>


    </div>
    <div>
      <app-student name="Akash" [mark1]=70 [mark2]=70 [mark3]=60 [img5]="img5" ></app-student>
      <app-student name="Sakthi" [mark1]=30 [mark2]=30 [mark3]=45 [img5]="img6" ></app-student>
      <app-student name="Hani" [mark1]=29 [mark2]=10 [mark3]=12 [img5]="img5" ></app-student>
    </div>
    <app-stylebinding></app-stylebinding>
  </body>
</html>