<body>
    <style>
        button{
            margin-left:10px ;
        }
    </style>
    <div class="div2">
        <h1>{{title}}</h1>
        <img src={{img}} alt="" height="150px" width="150px" style="margin-left: 25%;border-radius: 10px;">
        <p style="padding-left: 80px;">
            {{description}}
        </p>
        <div class="div1">
            <button >
                Buy
            </button>
            <button >
                Cart
            </button>
        </div>
    </div>

</body>
